@use "../../responsive" as *;

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.3s ease;

    @include sm {
      display: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: block; // Waxaan ka dhignay block si uu si sax ah ugu soo laabto moobaylka
        }
      }

      img {
        width: 28px;
      }
    }
  }

  .right {
    flex: 2;
    background-color: #ffeeee;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 10px 24px;
    }

    .register {
      background-color: #ff0957;
      margin-right: 20px;
      border-radius: 8px;
      color: #ffff;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      @include sm {
        display: inline;
        margin-right: 20px;
      }

      img {
        width: 40px;
        cursor: pointer;
      }
    }

    .menu {
      display: none; // Desktop-ka waa laga qariyey

      @include sm {
        display: flex; // Halkan hadda wuxuu dhalayaa flex mar kasta oo shaashadu yar tahay
        position: fixed; // Fixed ayaa ugu fiican menu-yada vh oogu talagalay
        top: 0;
        right: -100%; // Waxaan ka dhignay -100% si uu gabi ahaanba u qasmo marka uu xiran yahay
        background-color: #090909;
        height: 100vh;
        width: 50%; // Haddii aad rabto inuu badh dego, kani waa sax
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.5s ease; // 0.5s ayaa ugu fiican oo firfircooni leh
        z-index: 998; // Inyari ka hooseysa menuIcon-ka si icon-ku u muuqdo mar walba

        a {
          display: flex;
          padding: 20px;
          font-size: 20px;
          color: #fff;
        }

        &.active {
          right: 0; // Menu-gu hadda si smooth ah ayuu u soo dhex-guri doonaa!
        }
      }
    }
  }
}